<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title></title>
        </head>
          <body>

        <%= yield %>

        <iframe src="https://giphy.com/embed/l2QDZiMcHlTQUVt0k" width="480" height="354" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/gladiator-rio-gladiators-l2QDZiMcHlTQUVt0k">via GIPHY</a></p>

    </body>
</html>
